.modal-controls {
  /*background-color: rgb(209,241,250);*/
  background-color: hsl(3,95%,95%);
}

.stripe-container {
  height: 150px;
  width: auto;
  margin: 0px;
}

.stripe {
  height: 150px;
}

.blue-bg {
  background-color: rgb(23,158,197);
}

.green-bg {
  background-color: rgb(169,216,47);
}

.red-bg {
  background-color: rgb(250,81,71);
}

.yellow-bg {
  background-color: rgb(254,205,83);
}

.purple-bg {
  background-color: rgb(199,141,191);
}

//for centering divs with dynamic widths
.outer-center {
    float: right;
    right: 50%;
    position: relative;
}
.inner-center {
    float: right;
    right: -50%;
    position: relative;
}

.absolute-position {
  position: absolute;
}

.relative-position {
  position: relative;
}